header {
  width: 100%;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  height: 6vh;
  background-color: rgb(60, 60, 60);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pages {
  display: flex;
  flex: 0 0 75%;
  justify-content: space-evenly;
  margin: auto 5px;
}


.pages a {
  text-decoration: none;
  color: inherit;
  font-size: x-large;
  transition: color 0.3s;
}

.pages a:hover {
  color: limegreen;
}

.links {
  display: flex;
  flex: 0 0 25%;
  justify-content: space-evenly;
  list-style-type: none;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  font-size: x-large;
}

li a:hover {
  color: limegreen;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  color: inherit;
  height: fit-content;
}

footer {
  width: 100%;
  display: flex;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  background-color: rgb(60, 60, 60);
}