header {
  width: 100%;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  height: 7.5vh;
  background-color: rgb(60, 60, 60);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pages {
  display: flex;
  flex: 0 0 75%;
  justify-content: space-evenly;
  margin: auto 5px;
}


.pages a {
  text-decoration: none;
  color: inherit;
  font-size: x-large;
  transition: color 0.3s;
}

.pages a:hover {
  color: rgba(21, 175, 206, 1);
}

.links {
  display: flex;
  flex: 0 0 25%;
  justify-content: space-evenly;
  list-style-type: none;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  font-size: x-large;
}

li a:hover {
  color: rgba(21, 175, 206, 1);
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  color: inherit;
  height: 50%;
  width: 100%;
}

.title_container {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  border: 1px solid black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  animation: slideIn 1.5s ease-out forwards;
}

.title_container h1 {
  font-size: 3.5em;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.pic {
  display: flex;
  justify-content: center;
  margin: auto;
}

.profile_picture {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  filter: brightness(0.7);
  outline: 3px solid white;
}

footer {
  width: 100%;
  display: flex;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  background-color: rgb(60, 60, 60);
}