header {
  width: 100%;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  height: 7.5vh;
  margin-top: 0;
  background-color: gray;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px black solid; */
  width: 100%;

}

nav a {
  text-decoration: none;
  color: rgb(27, 195, 27);
  font-size: x-large;
}

nav a:hover {
  color: rgb(6, 6, 233);
}

footer {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}


.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: inherit;

}