* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 33%, rgba(0, 212, 255, 1) 100%); */
  background: radial-gradient(circle, rgba(21, 175, 206, 1), rgba(11, 11, 173, 1), rgba(2, 0, 36, 1));
  background-attachment: fixed;
}

body,
html {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(1rem, 1.25vw, 1.2rem);
  color: #e7edf0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Responsive container */

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: calc(10vh + 1rem);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* Responsive container for small screens */

@media screen and (max-width: 400px) {

  /* Adjust font size for the body */
  body,
  html {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
  }

  /* Adjust padding for main containers */
  .container {
    padding-top: calc(8vh + 0.5rem);
    /* Slightly reduce padding */
  }

  .landing_screen,
  .about,
  .portfolio {
    padding: 1rem;
    padding-top: 10vh;
    /* Reduce padding inside sections */
  }

  /* Adjust text size in .my_name and .job_title */
  .my_name {
    font-size: 3.5rem;
    /* Make the main title smaller */
  }

  .job_title {
    font-size: 2.5rem;
    /* Reduce subtitle size */
    margin-top: -0.5rem;
  }

  /* Adjust text and padding inside about section */
  .about h1 {
    font-size: 1.5rem;
    /* Reduce heading size */
  }

  .about p {
    font-size: 1rem;
    /* Smaller text for paragraphs */
  }

  .links_container {
    width: 80%;
    /* Reduce the width of the links container */
  }

  /* Make the cube container smaller */
  .cube-container {
    width: 40vw;
    height: 40vw;
  }

  /* Adjust card sizes */
  .card {
    width: 12rem;
    height: 20rem;
    /* Make the cards smaller */
  }

  /* Adjust portfolio/project titles */
  .projects-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  /* Contact section adjustments */
  .contact h1 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 1rem;
    width: 80%;
    /* Reduce width for readability */
  }
}

/* Adjustments for screens between 400px and 640px */
@media (min-width: 400px) and (max-width: 639px) {
  .container {
    max-width: 400px;
    flex-wrap: wrap;
  }
}

/* Adjustments for screens 640px and above */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}