* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 33%, rgba(0, 212, 255, 1) 100%); */
  background: radial-gradient(circle, rgba(21, 175, 206, 1), rgba(11, 11, 173, 1), rgba(2, 0, 36, 1));
  background-attachment: fixed;
}

body,
html {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #e7edf0;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 9dvh;
  justify-content: center;
  align-items: center;
}

/* Responsive container */

@media (min-width: 400px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}